/* 重置一些默认的样式 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: inherit;
}
 
body {
    font-family: Arial, sans-serif;
    background-image: url('src/bg/1890.png');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    line-height: 1.6;
}
 
header {
    padding: 40px 0;
    text-align: center;
}

header h1 {
    color: #881188;
}
 
header nav ul {
    background-color: #EE7744;
    list-style: none;
    position: relative;
    top: 30px;
    padding: 10px 0;
}
 
nav ul li {
    color: #FFFFFF;
    display: inline;
    margin: 0 15px;
}
 
nav ul li a {
    text-decoration: none;
}
 
section {
    padding: 20px;
    margin: 20px;
    background-color: #FFFFFFA0;
    border-radius: 10px;
}
 
h2 {
    color: #333333;
}

figure {
    border: thin #EE7744 solid;
    display: flex;
    flex-flow: column;
    max-width: 300px;
    padding: 5px;
    margin: auto;
}

img {
    width: 250px;
    height: 345px;
}

figcaption {
    background-color: #EE7744;
    color: #FFFFFF;
    padding: 10px;
    text-align: center;
}
 
footer {
    text-align: center;
    padding: 10px 0;
    background-color: #333333;
    color: #ffffff;
}

del {
    text-decoration: line-through;
    color: inherit;
}